:root{
    --hintergrund-hell: #BCE6B9;
    --Color-Marker: #1E5128;
    --Color-1: #3A6B35;
    --normal-text: "Source Sans Pro", sans-serif;
    } 

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .app-screen{
        background-color: var(--hintergrund-hell);
        height: 100dvh;
        margin-top: 11.2rem;
    }
    header{
        background-color: var(--hintergrund-hell);
        position: fixed;
        top: 0;
        
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        
    }



    .grid{
        display: grid;
        width: 100%;
        height: 11.25rem;
        padding: 0 0.4375rem;
        row-gap: 0.625rem;
        column-gap: 10px;
        grid-template-rows: repeat(1, minmax(0, 1fr));
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .container1{
        display: flex;
        width: 8.3125rem;
        height: 8.3125rem;
        justify-content: center;
        align-items: center;
        align-self: end;
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        justify-self: start;
    }

    .container2{
        display: grid;
        
        padding: 0.625rem 1.25rem;
        row-gap: 0.625rem;
        column-gap: 10px;
        align-self: stretch;
        grid-template-rows: repeat(5, minmax(0, 1fr));
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }

/* ************************************************************************** */
/* logo */
      

/* ************************************************************************* */
/* Buttons */
    .feedbackButton{
        width: 4.375rem;
        height: 1.875rem;
    }

    .container10{
        display: flex;
        justify-content: flex-end;
        
    }
    .hilfeButton{
        width: 3.125rem;
        height: 1.85688rem;
        
        justify-content: flex-end;
    }

    .button-design{
        border-radius: 0.45288rem;
        border: 1.449px solid rgba(11, 51, 9, 0.10);
        background: rgba(255, 255, 255, 0.10);
        box-shadow: 0 0 7.246px 0 rgba(11, 51, 9, 0.80) inset, 2.899px 4.348px 5.797px 0 var(--Color-Marker, #0B3309);
        /* text */
        color: var(--Color-1, #366633);
        -webkit-text-stroke-width: 0.68px;
        -webkit-text-stroke-color: rgba(11, 51, 9, 0.10);
        font-family: "Source Sans Pro";
        font-size: 0.85619rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }

/* link Datenschutz impressum */
    .link{
        justify-self: end;
        align-self: end;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--Color-1, #366633);
        text-decoration: none;
    }






    /* ***************************************************************** */
    /* Navigation */

    .navigation{
    background: var(--Color-1, #366633);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.31rem;

    position: fixed;
    width: min(100%, 60%);
    bottom: 0rem;
    
    
    height: 3.3125rem;
    
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.navigation-link{
    background-color: var(--Color-1);
    color: var(--hintergrund-hell, #0B3309);
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

    width: 10.5625rem;
    height: 1.875rem;
    
}
.navigation-link.active{
    color: var(--Color-Marker, #0B3309);
    
    transition: 0.3s ease;
    transform: scale(0.9);
}


    @media screen and (width > 600px) {
        .app-screen{
            width: 60%;
            margin: 11.2rem   auto;
        }
        header{
            width: 60%;
            
        }

    }
  
    @media screen and (width < 600px) {
        .navigation{
            width: 100%;
        }
    }