:root{
    --hintergrund-hell: #BCE6B9;
    --Color-Marker: #1E5128;
    --Color-1: #3A6B35;
    --normal-text: "Source Sans Pro", sans-serif;
    

} 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--hintergrund-hell);
    font-family: var(--normal-text);

}



.startApp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

/* Handy-Layout auf Desktop erzwingen */
@media screen and (min-width: 391px) {
    body  {
        background-color: white;
        
    }
  .startApp {
    max-width: 390px;   /* Breite eines Smartphones */
    margin: 0 auto;     /* zentriert auf dem Desktop */
    box-shadow: 0 0 20px #0B3309; /* optional für Rahmen */
    overflow-x: hidden; /* verhindert horizontales Scrollen */
    height: 844px;
  }
}



.lohnRechnerLogo img{
    position: fixed;
    margin-top: 3.125rem;
    margin-left: 1.25rem;
    img{
        box-shadow: 0 0 20px 0 var(--Color-Marker, #0B3309) inset;
    }
    
    
}

.link a{
    
    font-family: var(--normal-text);
    font-size: 0.875rem;
    color: var(--hintergrund-dunkel);
    text-decoration: none;
}

.impressum-link a{
    position: fixed;
    margin-top: 3.38rem;
    margin-left: 19.06rem;
    
}
.datenschutz-link a{
    position: fixed;
    margin-top: 4.69rem;
    margin-left: 19.06rem;
    
}

.hilfe-button{
    position: fixed;
    margin-top: 8.875rem;
    margin-left: 16.5rem;
    width: 6.3125rem;
    height: 2.5625rem;
    background-color: var(--Color-1);
    border: 2px solid var(--Color-Marker, #0B3309);
    box-shadow: 0 0 10px 0 rgba(11, 51, 9, 0.80) inset, 4px 6px 8px 0 var(--Color-Marker, #0B3309);
    
    border-radius: 0.625rem;
    font-size: 1.5rem;
    color: var(--hintergrund-hell);
    cursor: pointer;
    }

.schicht{
    color: var(--Color-Marker, #0B3309);
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: fixed;
    margin-top: 12.9375rem;
    margin-left: 1.5625rem;
}


.schicht-button button{
    

    width: 4.84538rem;
    height: 2.10025rem;;
    background-color: var(--Color-1);
    border: 2px solid var(--Color-Marker, #0B3309);
    box-shadow: 0 0 10px 0 rgba(11, 51, 9, 0.80) inset, 4px 6px 8px 0 var(--Color-Marker, #0B3309);
    
    border-radius: 0.625rem;
    font-size: 1.5rem;
    color: var(--hintergrund-hell);
    cursor: pointer;
    margin-right: 1.87rem;
}

.frueh button{
    position: fixed;
    margin-left: 1.75rem;
}

.spät button{
    position: fixed;
    margin-left: 8.9375rem;
}
.nacht button{
    position: fixed;
    margin-left: 15.9375rem;
}

.schicht-button .active{
    background-color: var(--Color-Marker, #0B3309);
    transition: 0.3s ease;
    transform: scale(0.9);
}

/* ---------------------------------------------------------------------- */
/* Pause div
 */
.pause-div{
color: var(--Color-Marker, #0B3309);
font-family: "Source Sans Pro";
font-size: 1.5625rem;
font-style: normal;
font-weight: 400;
line-height: normal;

    position: fixed;
    margin-top: 19rem;
    margin-left: 1.5rem;
}

.pause-div span{
    color: var(--Color-1, #366633);
font-family: "Source Sans Pro";
font-size: 0.9375rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.pause-checkbox {
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 8rem;
    margin-top: 19.31rem;
}

.pause-checkbox input {
    display: none; /* unsichtbare echte Checkbox */
}

.checkbox-unchecked,
.check {
    position: absolute;
    top: 0;
    left: 0;
}

.check {
    opacity: 0;
    transition: 0.3s ease;
    transform:  translate(2px, 2px);
}

/* Haken wird sichtbar, wenn Checkbox angehakt */
.pause-checkbox, input:checked ~ .checked {
    opacity: 1;
}


/* /* /*  */
/* ---------------------------------------------------------------------- */
/*  Tageszuschläge */
.tageszuschlag{
    position: fixed;
    width: 7.75rem;
    height: 2.75rem;
    margin-left: 15rem;
    margin-top: 19.1875rem;

}

.tageszuschlag .text{
    color: var(--Color-Marker, #0B3309);
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: fixed;
}


/* Tageszuschlag 1 + Checkbox + Haken*/
 .tageszuschlag-checkbox .text{
    color: var(--Color-Marker, #0B3309);
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: fixed;
    margin-left: .38rem;
    margin-top: 1.44rem;
}
/* Checkbox unchecked */
.tageszuschlag .checkboxTageszuschlag-unchecked{
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;

    position: fixed;
    margin-top: 1.44rem;
    margin-left: 2rem;
    
}
/* Checkbox checked */
.tageszuschlag .checkTageszuschlag {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s ease;
    transform:  translate(2px, 2px);

    
    margin-top: 1.44rem;
    margin-left: 2rem;
}

/* Tageszuschlag 1/2 plus checkbox */
.tageszuschlagHalf-checkbox .text{
    color: var(--Color-Marker, #0B3309);
    
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
    position: fixed;
    margin-left: 4.0625rem;
    margin-top: 1.44rem;

}

/* Checkbox unchecked */

.tageszuschlag .checkboxTageszuschlagHalf-unchecked {
    
    position: fixed;
    margin-left: 6.5rem;
    margin-top:  1.44rem;   

    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    
}
/* Checkbox checked */

.tageszuschlag .checkTageszuschlagHalf {
    position: absolute;
        margin-left: 6.5rem;
    margin-top:  1.44rem; 
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s ease;
    transform:  translate(2px, 2px);
    
}



/* Haken wird sichtbar, wenn Checkbox angehakt */
.tageszuschlag input:checked ~ .checkTageszuschlag {
    opacity: 1;
}




/* Haken wird sichtbar, wenn Checkbox angehakt */
.tageszuschlag input:checked ~ .checkTageszuschlagHalf {
    opacity: 1;
} 



/* ---------------------------------------------------------------------- */
/* checkboxen unsichtbar machen */

.tageszuschlag-checkbox input {
    display: none; /* unsichtbare echte Checkbox */
}

.tageszuschlagHalf-checkbox input {
    display: none; /* unsichtbare echte Checkbox */
}




/* Arbeitszeit: */

.arbeitszeit-datum-zeit{
    position: fixed;
    width: 21.375rem;
    height: 9.8125rem;  
    margin-top: 23rem;
    margin-left: 1.4375rem;
    color: var(--Color-Marker, #0B3309);
}

.arbeitszeit{
    
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: fixed;
    margin-top: 0rem;
    margin-left: 0rem;
}

.datum{
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: fixed;
    margin-top: 3.56rem;
    margin-left: 0.13rem;
}   
.workDate{
    position: fixed;
    margin-top: 3.88rem;
    margin-left: 9.19rem;
    width: 12.1875rem;
    height: 2.5rem;
   
    border-radius: 0.625rem;
    border: 2px solid var(--Color-Marker, #0B3309);
    background: var(--Color-1, #366633);
    color: var(--hintergrund-hell);
    font-size: 1.5625rem;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.workDate input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.zeit{
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: fixed;
    margin-top: 7.1rem;
    margin-left: 0.13rem;
}

.workTimeFrom, .workTimeTo{
    position: fixed;
    width: 5.8125rem;
    height: 2.5rem;
    margin-left: 5.94rem;
    border-radius: 0.625rem;

    font-size: 1.5625rem;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 7rem;
}

.workTimeFrom{
    
    border: 2px solid var(--Color-Marker, #0B3309);
    background: var(--Color-1, #366633);
    color: var(--hintergrund-hell);
    margin-left: 5.31rem;
}
.workTimeTo{
    border: 2px solid var(--Color-Marker, #0B3309);
    background: var(--Color-1, #366633);
    color: var(--hintergrund-hell);
    
    
    margin-left:  15.56rem;
}
/* Zeit-Input Pfeil entfernen */
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

div .bis-text{
    color: var(--Color-Marker, #0B3309);
    font-family: "Source Sans Pro";
    font-size: 1.6875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    position: fixed;
    margin-top: 7.3rem;
    margin-left: 12.46rem;
}


.berechnen-button{
    position: fixed;
    width: 21.25rem;
    height: 3.25rem;
    background-color: var(--Color-1);
    border: 2px solid var(--Color-Marker, #0B3309);
    box-shadow: 0 0 10px 0 rgba(11, 51, 9, 0.80) inset, 4px 6px 8px 0 var(--Color-Marker, #0B3309);
    
    border-radius: 0.625rem;
    font-size: 1.5rem;
    color: var(--hintergrund-hell);
    cursor: pointer;
    
    margin-top: 33.5rem;
    text-align: center;

    margin-left: 1.56rem;
}

/* ergebnisse grid layout */
.ergebnisse{
    position: fixed;
    width: 21.25rem;
    height: 10.625rem;  
    margin-top: 37.875rem;
    margin-left: 1.5625rem;
    color: var(--Color-Marker, #0B3309);
}

.navigation{
    background: var(--Color-1, #366633);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.31rem;

    position: fixed;
    bottom: 0rem;
    width: 24.375rem;
    
    height: 3.3125rem;
    
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.navigation-link{
    background-color: var(--Color-1);
    color: var(--hintergrund-hell, #0B3309);
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

    width: 10.5625rem;
    height: 1.875rem;
    
}
.navigation-link.active{
    color: var(--Color-Marker, #0B3309);
    
    transition: 0.3s ease;
    transform: scale(0.9);
}

