:root{
    --hintergrund-hell: #BCE6B9;
    --Color-Marker: #1E5128;
    --Color-1: #3A6B35;
    --normal-text: "Source Sans Pro", sans-serif;
    } 

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h1{
        font-family: var(--normal-text);
        font-size: 2rem;
        font-weight: 600;
        line-height: normal;
        color: var(--Color-1, #366633);
        margin: 1rem 0;
        text-align: center;
    }

    .text{
        
        background-color: var(--hintergrund-hell);
        font-family: var(--normal-text);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--Color-1, #366633);
        padding: 2rem 1rem 5rem 2rem;
        
    }