* {
  margin: 0;
  padding: 0;
  
}

body{
  text-align: center;
  margin: 2rem;
  background-color: green;
}

#app{
  padding: 1rem;
  background-color: rgba(240, 248, 255, 0.5);
  border-radius: 1rem;
  height: 90vh;
}

.ueberschrift {
  color: rgba(0, 0, 0, 0.644);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  padding: 1rem;
  font-size: 2rem;
}

button, input {
  color: rgb(247, 250, 247);
  padding: 0.7rem;
  margin: 0.3rem;
  font-size: 1.3rem;
  background-color: rgb(107, 190, 111);
}

button:hover{
  color: white;
  background-color: green;
}

#stdLohn{
  width: 1.5rem;
  text-align: center;
}

.result {
  margin-top: 1rem;
}

.result p{
  font-size: 1rem;
  background-color: rgb(128, 45, 45);
  width: 40%;
}

.flexbox {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
}

.flexItem{
  flex: 1 1;
  margin: 0.1rem;
  padding: 0.3rem;
  border-radius: .2rem;
}

.workTime{
  text-align: left;

}
.workTime input{
  padding: 0.3rem;
  margin: 0.1rem;
  color: rgba(0, 0, 0, 0.815) ;
  width: fit-content;
}
.workTime button{
  width: 100%;
  
}

.feinplanzuschlag p  {
  font-size: 1.5rem;
}