:root {
  --hintergrund-hell: #bce6b9;
  --Color-Marker: #1e5128;
  --Color-1: #3a6b35;
  --normal-text: "Source Sans Pro", sans-serif;

  --header-height: 8.75rem;
  --header-height-smal: 4.25rem;
  --content-offset: var(--header-height); /* wird überschrieben */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

#app{
  background-color: var(--hintergrund-hell);
  margin: 0 auto;
  width: 70%;
  height: 100dvh;
  overflow: hidden;
}


.startApp {
  background-color: var(--hintergrund-hell);
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 0 auto;
  
}

.app-screen {
  background-color: var(--hintergrund-hell);
  height: calc(100% - 7.5rem);
  margin-top: 3.8rem;
  overflow: hidden;
  margin-bottom: -7.3rem;
  
}
header {
  background-color: var(--hintergrund-hell);
  position: fixed;
  top: 0;
}

.grid {
  display: grid;
  width: 100%;
  height: var(--header-height);
  padding: 0 0.4375rem;
  row-gap: 0.625rem;
  column-gap: 10px;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  grid-template-columns: repeat(2, minmax(0, 1fr));

  transition: height 0.9s ease-in-out; /* für das Schrumpfen nötig */
}
/* ON_SCROLL */
.grid-smal{
  height: var(--header-height-smal);
  transition: height 0.3s ease;
}

.grid-smal .container1{
  display: block;
  height: 4rem;
  margin-top: 0.5rem;
}
.grid-smal .container2 {
  display: none;
}
.grid-smal .container1 img {
  height: 3rem;
  width: auto;
}



.container1 {
  display: flex;
  width: 8.3125rem;
  height: 8.3125rem;
  justify-content: center;
  align-items: center;
  align-self: end;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  justify-self: start;
  
}

.container2 {
  display: grid;

  padding: 0.625rem 1.25rem;
  row-gap: 0.625rem;
  column-gap: 10px;
  align-self: stretch;
  grid-template-rows: repeat(5, minmax(0, 1fr));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

/* ************************************************************************** */
/* logo */


/* ************************************************************************* */
/* Buttons */
.feedbackButton {
  width: 4.375rem;
  height: 1.875rem;
}

.container10 {
  display: flex;
  justify-content: flex-end;
}
.hilfeButton {
  width: 3.125rem;
  height: 1.85688rem;
  
  justify-content: flex-end;
}

.button-design {
  border-radius: 0.45288rem;
  border: 1.449px solid rgba(11, 51, 9, 0.1);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 7.246px 0 rgba(11, 51, 9, 0.8) inset,
    2.899px 4.348px 5.797px 0 var(--Color-Marker, #0b3309);
  /* text */
  color: var(--Color-1, #366633);
  -webkit-text-stroke-width: 0.68px;
  -webkit-text-stroke-color: rgba(11, 51, 9, 0.1);
  font-family: "Source Sans Pro";
  font-size: 0.85619rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

    transition: 
    transform 0.25s ease, 
    box-shadow 0.25s ease, 
    opacity 0.25s ease;

}

/* Klick-Effekt: „gedrückt“ */
.button-design:active, .berechnen-button:active, .schicht-button.aktiv {
  transform: translateY(2px);   /* nach unten drücken */
  box-shadow: 0 2px 4px rgba(0,0,0,0.4); /* Schatten verkleinern */
}

.coffeeButton {
  width: 8.625rem;
  height: 2.27325rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: var(--Color-1, #bce6b9);
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 0.76863rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.center {
  margin: 0 auto;
}

/* link Datenschutz impressum */
.link {
  justify-self: end;
  align-self: end;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--Color-1, #366633);
  text-decoration: none;
}

/* ***************************************************************** */
/* Navigation */

.navigation {
  background: var(--Color-1, #366633);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.31rem;

  position: fixed;
  width: min(100%, 60%);
  bottom: 0rem;

  height: 3.3125rem;

  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

.navigation-link {
  background-color: var(--Color-1);
  color: var(--hintergrund-hell, #0b3309);
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;

  width: 10.5625rem;
  height: 1.875rem;
}
.navigation-link.active {
  color: var(--Color-Marker, #0b3309);

  transition: 0.3s ease;
  transform: scale(0.9);
}
/* __________________________________________________________________________ */
/* Lohnrechner - Rechner: */
.lohnrechner-layout {
  width: 24.375rem;
  margin: auto;
  margin-top: calc(var(--content-offset));
  padding-bottom: 25rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  overflow-y: auto; /* scrollt nur, wenn Inhalt zu groß */
  max-height: 100%; /* maximal so groß wie der Viewport */
  
}

/* Schicht */



.schicht-grid {

  display: grid;
  width: 24.375rem;
  height: 6.3125rem;
  padding: 0.9375rem 1.875rem 0 1.5625rem;
  row-gap: 0.625rem;
  column-gap: 10px;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}
/* arbeitszeit */
.arbeitszeit {
  width: 22.5rem;
  height: 8.875rem;
  grid-row: 0 / span 0;
  grid-column: 0 / span 0;
  margin: 0 auto;
  margin-top: 1rem;
}
.arbeitszeit-container {
  display: grid;
  width: 22.5rem;
  height: 8.875rem;
  row-gap: 0.38125rem;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding-right: 0.5rem;
}

.arbeitszeit-ueberschrift {
  width: 11.2895rem;
  height: 3.22275rem;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  color: var(--Color-Marker, #0b3309);
  font-family: "Source Sans Pro";
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.datum-text {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;

  color: var(--Color-Marker, #0b3309);
  font-family: "Source Sans Pro";
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.arbeitsDatum {
  grid-row: 2 / span 1;
  grid-column: 3 / span 2;

  height: 2.5rem;

  color: var(--Color-1, #366633);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.1);
  font-family: "Source Sans Pro";
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 1rem;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(43%) sepia(23%) saturate(500%) hue-rotate(70deg);
  margin-left: 0;
  padding-left: 0;
}

.arbeitszeit-text {
  width: 7.59869rem;
  height: 2.82644rem;
  align-self: CENTER;
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;

  color: var(--Color-Marker, #0b3309);
  font-family: "Source Sans Pro";
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* grid Time */
.time-von {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}

.bis-text {
  width: 2.89475rem;
  height: 2.48725rem;
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
  justify-self: CENTER;

  color: var(--Color-Marker, #0b3309);
  font-family: "Source Sans Pro";
  font-size: 1.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 0.2rem;
}

.time-bis {
  grid-row: 3 / span 1;
  grid-column: 4 / span 1;
}

/* font-style & padding */
.time-bis,
.time-von {
  width: 5.30856rem;
  height: 2.26113rem;

  padding-left: 0.7rem;
  color: var(--Color-1, #366633);
  font-family: "Source Sans Pro";
  font-size: 1.2625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* _____________________________________________________________________________ */
/* Pause - Tageszuschlag */

.pause-tageszuschlag {
  display: grid;
  width: 22.5rem;
  height: 5.625rem;
  padding: 1.25rem 1.8125rem 1.3125rem 0;
  row-gap: 7.9375rem;
  column-gap: 127px;
  align-self: start;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-row: 6 / span 1;
  grid-column: 1 / span 1;
}
.pause-container {
  width: 8.4375rem;
  height: 3rem;
  grid-row: 0 / span 0;
  grid-column: 0 / span 0;
}

.pause-flex {
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
}
.pause-text {
  width: 7.1875rem;
  height: 3rem;

  color: var(--Color-Marker, #0b3309);
  font-family: "Source Sans Pro";
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.smal-text {
  color: var(--Color-1, #366633);
  font-family: "Source Sans Pro";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}

.pause-checkbox {
  position: relative;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
}

.pause-checkbox input {
  display: none; /* unsichtbare echte Checkbox */
}

.check {
  position: absolute;
  top: 0%;
  left: 0%;

  pointer-events: none; /* Klicks bleiben auf der Box */
  opacity: 0;

  transition: 0.5s ease;
  transform: translate(2px, 2px);
}


/* _____________________________________________________________________________ */
/* Tageszuschlag */
.tageszuschlag {
  display: grid;
  width: 10rem;
  row-gap: 0.3125rem;
  column-gap: 10px;
  align-self: stretch;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  
}
.hidden {
  display: none;
}

.tageszuschlag-label {
  grid-row: 1 / span 1;
  grid-column: 1 / span 8;
  justify-self: stretch;

  color: var(--Color-Marker, #0b3309);
  font-family: "Source Sans Pro";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tageszuschlag-wert {
  align-self: MIN;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  justify-self: stretch;

  color: var(--Color-Marker, #0b3309);
  font-family: "Source Sans Pro";
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tageszuschlag-wert2 {
  width: 1.4375rem;
  grid-row: 2 / span 1;
  grid-column: 5 / span 1;
  justify-self: MAX;

  color: var(--Color-1, #366633);
  font-family: "Source Sans Pro";
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.checkbox-tageszuschlag {
  width: 1.25rem;
  height: 1.25rem;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.checkbox-tageszuschlag2 {
    position: relative;
  width: 1.25rem;
  height: 1.25rem;
  grid-row: 2 / span 1;
  grid-column: 6 / span 1;
}
.checkbox-tageszuschlag2 input {
  display: none; /* unsichtbare echte Checkbox */
}

.check {
  position: absolute;
  top: -30%;
  left: 0%;

  pointer-events: none; /* Klicks bleiben auf der Box */
  opacity: 0;

  transition: 0.5s ease;
  transform: translate(2px, 2px);
}

/* Haken wird sichtbar, wenn Checkbox angehakt */
.pause-checkbox, .checkbox-tageszuschlag2,
input:checked ~ .check  {
  opacity: 1;
}


.schicht-button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  justify-self: stretch;
  gap: 1.87rem;
}

.schicht-button {
  width: 4.84538rem;
  height: 2.10025rem;

  color: var(--Color-1, #366633);
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 1.28044rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border-radius: 0.36844rem;
  border-radius: 0.36844rem;
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 7.246px 0 rgba(11, 51, 9, 0.8) inset;
}

.schicht-text {
  color: var(--Color-Marker, #0b3309);
  font-family: "Source Sans Pro";
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.schicht-button.aktiv {
  border-radius: 0.36844rem;
  background: var(--Color-1, #366633);
  box-shadow: 0 0 5.895px 0.422px var(--hintergrund-hell, #0b3309) inset;
  transform: scale(0.95);
  border: none;
  color: var(--Hintergrund, #bce6b9);
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 1.28044rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  
}

/* BERECHNEN BUTTON */

.berechnen-button {
  width: 22.5rem;
  height: 3.125rem;

border-radius: 0.625rem;
border: 0.5px solid var(--Color-Marker, #0B3309);
background: var(--Color-1, #366633);
box-shadow: 5px 10px 20px 5px rgba(11, 51, 9, 0.66) inset, 4px 6px 8px 0 rgba(0, 0, 0, 0.50);

  color: var(--Hintergrund, #bce6b9);
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-self: center;
}

/* Result Grid */

.container {
  display: grid;
  
  grid-template-columns: repeat(6, 1fr);   /* 6 gleich breite Spalten */
  grid-template-rows: auto auto auto;      /* 3 Reihen */
  row-gap: 0.3125rem;
column-gap: 5px;
  height: 11.75rem;
padding: 0.625rem .3125rem 2.3125rem 0.3125rem;
}

.box {
  border-radius:1rem;
  padding:0.1rem ;
}


.result-nachtzuschlag, .result-sonntagszuschlag, .result-ferienzuschlag{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  justify-self: stretch;
}

/* oben: 2 gleich große Boxen (je 3 von 6 Spalten) */
.a { grid-column: 1 / span 3; grid-row: 1; }
.b { grid-column: 4 / span 3; grid-row: 1; }

/* Mitte: 3 Boxen */
.c { grid-column: 1 / span 2; grid-row: 2; }
.d { grid-column: 3 / span 2; grid-row: 2; }
.e { grid-column: 5 / span 2; grid-row: 2; }

/* unten: 2 gleich große Boxen (wie oben) */
.f { grid-column: 1 / span 3; grid-row: 3; }
.g { grid-column: 4 / span 3; grid-row: 3; }


.result-bezeichung {
  display: flex;
  font-size: 0.84375rem;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.5rem;
}
.result-ergebnis {
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
}


/* __________________________________________________________________________ */
/* Einstellungen: */

.einstellungen-layout {
  display: flex;
  
  margin: 0 auto;
  width: 24.375rem;
  margin-top: var(--content-offset);
  
  flex-direction: column;
  align-items: flex-start;
  gap: clamp(0.525rem, 1vw, 1rem);

          overflow-y: auto;
        max-height: 100%;
        
        font-size: clamp(1rem, 1.5vw + 0.5rem, 3rem);
        font-weight: 400;
        line-height: 1.5;
        color: var(--Color-1, #366633);
        padding: 2rem 1rem 5rem 1rem;
  
}

.einstellungen-schrift {
  color: var(--Color-Marker, #0b3309);
  font-family: "Source Sans Pro";
  font-size: clamp(2.1875rem, 2vw + 0.5rem, 3rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Zuschläge: */

/* Design wird von design-Button übernommen! */

.zuschlag {
  display: flex;
}

.zuschlagsGrund {
  width: clamp(13.5rem, 2vw + .5rem, 18.5rem);
  height: clamp(2.225rem, 2vw + 0.5rem, 4rem);

  color: var(--Color-Marker, #0b3309);
  font-family: "Source Sans Pro";
  font-size: clamp(1.5625rem, 2vw + 0.5rem, 2.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.zuschlagSize {
  display: flex;
  width: 4.65rem;
  height: 2rem;
  margin-left: 3rem;
  justify-content: center;
  align-items: center;
}

.input-form {
  font-family: "Source Sans Pro";
  color: var(--Color-Marker, #0b3309);
  text-align: center;
  box-shadow: inset 1px 1px 10px var(--Color-1);
  border: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.grid-nachtschicht {
  display: grid;
  width: 18.00469rem;
  height: 7.9375rem;
  column-gap: 105px;
  flex-shrink: 0;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-nachtschicht h2 {
  width: 17.5625rem;
  height: 3.125rem;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}



.ns-start,
.ns-ende {
  color: var(--Color-Marker, #0b3309);
  font-family: "Source Sans Pro";
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.grid-item {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  justify-self: CENTER;
}

.grid-item2 {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  justify-self: CENTER;
}

/* Time design für Nachtschicht Start und Ende (item3 - Start _ item4 - ende */

.grid-item3 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;

  text-align: center;

  width: 5.5rem;
  height: 2.2rem;
  padding-left: 0.2rem;

  border-radius: 0.50138rem;
  background: rgba(255, 255, 255, 0.1);

  color: var(--Color-1, #366633);
  font-family: "Source Sans Pro";
  font-size: 1.25344rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.grid-item4 {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;

  width: 5.5rem;
  height: 2.2rem;
  padding-left: 0.2rem;

  border-radius: 0.50138rem;
  background: rgba(255, 255, 255, 0.1);

  color: var(--Color-1, #366633);
  font-family: "Source Sans Pro";
  font-size: 1.25344rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.danke{
  border: var(--Color-Marker) 3px double;
  padding: 0.5rem;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  width: 20px;
  height: 20px;
  padding-right: 1px;
  transform: scale(0.8);
}

/* ___________________________________________________________________________ */

@media screen and (width > 1000px) {
  #app{
    width: 40%;
    height: calc(100dvh - 3.3125rem);
    
  }
  .app-screen {
    margin: 0rem auto;
    margin-top: 9.2rem;
    overflow: hidden;
    
  }

  .lohnrechner-layout {
    width: 100%;
  }
  .einstellungen-layout {
    width: 60%;
    height: 100vh;
  }
  .navigation, header {
    width: 40%;
    
  }
  .container{
    height: 0rem;
  }


}

@media screen and (width < 600px) and (width < 1000px) {
  #app{
    width: 100%;
  }
  .navigation {
    width: 100%;
  }
  header {
    width: 100%;
  }
  .app-screen {
    width: 100%;
  }

}




    /* Wenn Modal offen ist: Icons verstecken */

  


