

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Great Vibes";
  src: url("fonts/great-vibes-v19-latin_latin-ext-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* sorgt dafür, dass Text sofort sichtbar ist */
}

body {
  text-align: center;
  margin: 0.5rem;
  background-color: #ffffffcc; /* leicht transparentes Weiß */
  font-family: "Inter", sans-serif; /* Fließtext */
}

.appView {
  padding: 0.2rem 0.2rem 0.2rem;
  margin-bottom: 7.2rem; /* Platz für die Footer-Navigation */

  background: linear-gradient(
    135deg,
    #2b2c2b3d,
    #2b2a2b00
  ); /* helles, modernes Grau statt grün */
  border-radius: 1rem;
  min-height: calc(100dvh - 8.5rem);
  max-height: fit-content;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.692);
}

.ueberschrift {
  color: #333;
  font-family: "Great Vibes", cursive; /* dekorative Schriftart */
  font-size: 3.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.411);
  margin-top: 1.2rem;
}

p {
  padding: 0.7rem;
  font-size: 1.7rem;
  color: #444;
}

button,
input {
  color: #fff;
  padding: 0.7rem;
  margin: 0.3rem;
  font-size: 1.1rem;
  background: linear-gradient(
    135deg,
    #37ab37,
    #0f31173d
  ); /* moderner Farbverlauf */
  border: none;
  border-radius: 0.8rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(135deg, #37ab37, #0f31173d);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

#stdLohn {
  text-align: center;
}

.result {
  margin-top: 1.5rem;
}
.result p {
  color: #444;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #d8d8d8a4;
  width: 100%; /* maximal innerhalb des Containers */
  max-width: 400px; /* optional, für große Bildschirme */

  border-radius: 0.3rem;
  padding: 0.5rem;
  box-sizing: border-box; /* Padding wird zur Breite dazu gerechnet */
  word-wrap: break-word; /* Text umbrechen, falls nötig */
}

.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flexItem {
  flex: 1 1;
  margin: 0.1rem;

  box-shadow: inset 0 1px 1px rgb(152, 153, 152);
}

.workTime {
  text-align: center;
}

.workTime input {
  padding: 0.3rem;
  margin: 0.1rem;
  color: #333;
  width: fit-content;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
}

.workTime button {
  width: 50%;
}

.feinplanzuschlag {
  padding: 0.5rem;
  font-size: 1.5rem;
}

/* Footer Navigation */
.footer-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  background-color: #3d6b3d;
  color: white;
  text-align: center;
  padding: 1rem;
}

.footer-nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 0.1rem 0.1rem;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.footer-nav a:hover,
img:hover {
  color: #a29bfe;

  transform: translateY(-5px);
}

.zuschlagStyle {
  font-size: 1.2rem;
  color: #555;
  margin-top: 0.5rem;
}

.zuschlag {
  font-size: 1.4rem;
  color: #333;
  margin-top: 0.3rem;
}

input {
  background-color: #f0f0ff;
  border: 1px solid #ccc;
  color: #333;
  font-size: 1.1rem;
  padding: 0.5rem;
}

.smal {
  font-size: 0.8rem;
  color: #747373;
  margin: 0 0.2rem;
}

div .link {
  margin-bottom: -1rem;
}

div .impDa {
  display: flex;
  
  justify-content: space-between;
  margin: 0 auto;
  width: 50%;
  margin-top: -7rem;
  
}

.inputfeld {
  min-width: 3rem;
  text-align: center;
}

.datenSchutz {
  text-align: left;

  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.datenSchutz h1 {
  font-size: 1.5rem;
  color: #222;
  margin-bottom: 1rem;
  text-align: center;
}

.datenSchutz p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 0.8rem;
  line-height: 1.6;
}

.feedbackButton {
  position: fixed;
  top: 0.3rem;
  right: 0.3rem;
  font-size: 0.8rem;
  font-weight: bold;
  background: linear-gradient(rgb(207, 198, 198), rgb(99, 99, 184));
  z-index: 1000;
}
/* MEDIA SCREEEN */
@media screen and (min-width: 700px) {
  .appView {
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding: 1rem;
    border-radius: 0;
    position: relative;
  }
  .footer-nav {
    width: 54vw;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.2rem;
  }

  .feedbackButton {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
  }

}

/* ******************************************************************************* */

.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.visible {
  opacity: 1;
  height: auto;
}

hr {
  margin: 1rem 0;

  border-top: 1px solid #ccc;
}

/* **************************************************************************/
.zuschlaegeAendernButton {
  size: 0.8rem;

  background: linear-gradient(135deg, #37ab37, #0f31173d);
}

.zuschlag {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputZuschlag {
  width: 4rem;
  text-align: center;
  background: linear-gradient(135deg, #37ab37, #0f31173d);
}
