:root{
    --hintergrund-hell: #BCE6B9;
    --Color-Marker: #1E5128;
    --Color-1: #3A6B35;
    --normal-text: "Source Sans Pro", sans-serif;
    } 

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h1{
        font-family: var(--normal-text);
        font-size: clamp(2rem, 2.5vw + 1rem, 3rem);
        font-weight: 600;
        line-height: normal;
        color: var(--Color-1, #366633);
        margin: 1rem 0;
        text-align: center;
    }

    
        h6 {
  font-size: clamp(0.85rem, 0.6vw + 0.5rem, 1rem);
}

    
    .text{
        overflow-y: auto;
        max-height: 100%;
        background-color: var(--hintergrund-hell);
        font-family: var(--normal-text);
        font-size: clamp(1rem, 1.5vw + 0.5rem, 2.0rem);
        font-weight: 400;
        line-height: 1.5;
        color: var(--Color-1, #366633);
        padding: 2rem 1rem 5rem 2rem;
        
    }



    .hidden {
        display: none;
    }


    .text a {
                color: var(--Color-Marker, #1E5128);
        text-decoration: none;
        font-style: italic;
        background-color: #1e512844;
        padding: 0.3rem;
        box-sizing: 0 0.5 0.5rem black;
        text-decoration: none;
        border-radius: 5px;
        

    }

    .text a:hover{
        color: #1e51286b;
        text-decoration: unset;

    }

    